# Data Files
data/raw/*
data/processed/*
*.csv
*.xlsx
*.xls

# Keep empty folders for structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python & Virtual Environments
__pycache__/
*.pyc
*.pyo
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code & OS System Files
.vscode/
.DS_Store
Thumbs.db
tmpclaude*